<div class = "event-link">
  <div class="event-link-url" id="copy_<%=event.id%>"><p id="copy"><%= event_url(event.id) %></p></div>
  <div class="alert-copy-link" id="alert_<%=event.id%>">
    <p><%= t('copy-link.notification') %></p>
  </div>
</div>
<div class="event-link-btn">
  <div class="btn btn-primary btn-copy-link" data-clipboard-target="#copy_<%=event.id%>" id="btn_<%=event.id%>">
    <%= t('users.show.event-banner.event-link-banner.copy') %>
  </div>
</div>

