<div class="container-list">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-lg-3">
      <div class="event-photo-bs">
        <%= link_to event_path(event) do %>
          <div class="margin event-photo" style="background-image: url('<%= url_photo(event) %>');">
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7 col-lg-9">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <div class="event-title-bs">
            <%= link_to event_path(event) do %>
              <h3 class="border-bottom"> <strong> <%= event.name %> </strong> </h3>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-4">
          <%= render partial: "event-banner-calendar", locals: {event: event} %>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-4">
          <div class="participants-xs-lg">
            <%= render partial: "event-banner-participants", locals: {event: event} %>
          </div>
        </div>
        <!-- Partie de droite qui dépend de l'organisateur -->
        <div class="col-xs-12 col-sm-12 col-lg-4">
          <div class="organizer-xs-lg">
            <%= render partial: "event-banner-organizer", locals: {event: event, duplicated_event: @duplicated_event} %>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- affichage différent de la date et de l'organizer board pour le format tablette -->
  <div class="row">
    <div class="col-xs-6">
      <div class="participants-sm-md">
        <%= render partial: "event-banner-participants", locals: {event: event} %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="organizer-sm-md">
        <%= render partial: "event-banner-organizer", locals: {event: event, duplicated_event: @duplicated_event} %>
      </div>
    </div>
  </div>
  <!-- lien à copier -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <div class="event-link-bs text-center">
          <%= render partial: "event-link-banner", locals: {event: event} %>
      </div>
    </div>
  </div>
</div>
