<div class="container-list">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-lg-3">
      <div class="event-photo-bs">
        <%= link_to event_path(event) do %>
          <div class="margin event-photo" style="background-image: url('<%= url_photo(event) %>');">
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7 col-lg-9">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <div class="event-title-bs">
            <%= link_to event_path(event) do %>
              <h3 class="border-bottom"> <strong> <%= event.name %> </strong> </h3>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-3">
          <div class="event-calendar-bs text-center">
            <div class="text-center margin">
              <i class="fi-calendar"></i>
            </div>
            <div class="calendar-details text-center">
              <div>
                <p><strong> <%= t('users.show.event-banner.beginning') %></strong></p>
                <p> <%= event.starts_at.strftime('%d/%m/%Y - %H:%M') %> </p>
              </div>
              <div class= "margin margin-sides">
                <p><strong> <%= t('users.show.event-banner.end') %></strong></p>
                <p> <%= event.ends_at.strftime('%d/%m/%Y - %H:%M') %> </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6">
          <div class="event-participants-bs">
              <div class="text-center margin">
                <i class="fi-male"></i>
              </div>
              <div class="participant-details text-center">
                <p> <strong> <%= t('users.show.event-banner.participants', count: event.validated_bookings_number) %> </strong> </p>
                <% if event.max_participants? %>
                  <p> <%= t('users.show.event-banner.places', count: event.max_participants - event.validated_bookings_number) %> </p>
                <% end %>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-3">
          <div class="event-status-bs text-center margin">
              <!-- Le current user est l'organisateur -->
              <% if current_user == event.user %>
                <% if Time.now() > event.starts_at%>
                  <h3><strong>Activitée passée</strong></h3>
                <% else %>
                <div class="text-center margin">
                  <i class="fi-wrench"></i>
                </div>

                <div>
                  <%=link_to t('users.show.event-banner.edit'), edit_event_path(event), class: "btn btn-danger space-bottom-btn" %>
                <div > <%= link_to t('users.show.event-banner.delete'), event_path(event), method: :delete, class: "margin margin-sides" %> </div>
                <% end %>
              <!-- Le current user n'est pas l'organisateur -->
              <% else %>
                <% if Time.now() > event.starts_at %>
                  <h3><strong>Activitée passée</strong></h3>
                <% else %>
                  <%= link_to user_path(event.user) do %>
                    <div class="text-center">
                      <%= avatar(event.user, class: "avatar") %>
                    </div>
                    <p> <% t('users.show.event-banner.organized') %> <strong> <%= event.user.first_name %> <%= event.user.last_name %> </strong> </p>
                  <% end %>
                <% end %>
                <!-- Le current user a un booking pour l'event -->
                <% if Time.now() < event.starts_at%>
                  <% if has_a_booking_not_cancelled?(current_user, event) %>
                    <% booking = booking_find_by_user_and_event(current_user, event) %>
                    <!-- Le booking est validé -->
                    <% if booking.on_waiting_list == false %>
                      <button type="button" class="margin btn btn-danger" data-toggle="modal" data-target="#ModalUnsubscribe_<%=booking.id%>">
                        <%= t('users.show.event-banner.unsubscribe') %>
                      </button>
                      <!-- Modal en cas de désinscription -->
                      <div class="modal fade" id="ModalUnsubscribe_<%=booking.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Etes-vous sûr de vouloir vous désinscrire ? </h4>
                            </div>
                            <div class="modal-body">
                              <%= simple_form_for booking, method: :delete do |f| %>
                                <%= f.input :cancellation_message, label: "Envoyez un message d'explication à #{event.user.first_name}"   %>
                                <%= f.submit "Confirmer et envoyer votre message", class: "btn btn-danger" %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- Le current user est en liste d'attente -->
                    <% else %>
                      <p class="red-font"><%= t('users.show.event-banner.waiting-list-on') %></p>
                      <% if event.max_participants - event.validated_bookings_number > 0 %>
                      <div class=margin>
                        <%= simple_form_for booking do |f| %>
                           <%= f.hidden_field :on_waiting_list, value: false %>
                           <%= f.hidden_field :reimbursed, value: "pending" %>
                           <%= f.submit t('users.show.event-banner.participate'), class: "btn btn-danger" %>
                         <% end %>
                      </div>
                      <% end %>
                    <% end %>
                  <!-- Le current user n'a pas encore de booking pour l'event -->
                  <% else %>
                    <!-- Il reste des places -->
                    <% if !event.max_participants? || (event.max_participants - event.validated_bookings_number > 0) %>
                      <div >
                        <%= simple_form_for [event, @booking], method: :post do |f| %>
                            <%= f.hidden_field :on_waiting_list, value: false %>
                            <%= f.hidden_field :reimbursed, value: "pending" %>
                            <%= f.submit t('users.show.event-banner.participate'), class: "btn btn-danger" %>
                        <% end %>
                      </div>
                    <!-- L'événement est complet -->
                    <% else %>
                      <div >
                       <%= simple_form_for [event, @booking], method: :post do |f| %>
                           <%= f.hidden_field :on_waiting_list, value: true %>
                           <%= f.hidden_field :reimbursed, value: "pending" %>
                           <%= f.submit t('users.show.event-banner.waiting-list-subscribe'), class: "btn btn-danger" %>
                       <% end %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <div class="event-link-bs text-center">
          <%= render partial: "event-link-banner", locals: {event: event} %>
      </div>
    </div>
  </div>
</div>
