<div class="container">
  <div class="text-center">
    <h2> <%= @user.first_name %> <%= @user.last_name %> </h2>
    <div> <%= avatar_large(@user) %> </div>
  </div>
  <!-- Cas où current user est sur sa propre page de profil -->
  <% if @user == current_user %>
    <div class="text-center">
      <div class="container create-edit-container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= link_to new_user_event_path(@user) do %>
                <button class = "btn btn-danger"> <%= t('users.show.create')%></button>
              <% end %>
            </div>
            <div class="col-xs-12 col-sm-6 edit-profile-link">
            <%= link_to t('users.show.edit'), edit_user_registration_path, class: "margin margin-sides" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Affichage des events non archivés -->
    <% unless @bookings_not_archived.empty? %>
      <% @bookings_not_archived.each do |booking| %>
        <%= render "event-banner", event: booking.event %>
      <% end %>
    <% end %>
    <!-- Affichage des events archivés -->
    <% unless @bookings_archived.empty? %>
      <div class="archives_button unhide_archives_button"><i class="fi-plus"></i>  <%= t('users.show.unhide_archives')%></div>
      <div class="archives_button hide_archives_button hidden"><i class="fi-minus"></i> <%= t('users.show.hide_archives')%></div>
      <% @bookings_archived.each do |booking| %>
        <div class="archives_banners hidden">
          <%= render "event-banner", event: booking.event %>
        </div>
      <% end %>
    <% end %>
  <!-- Cas où current user est sur la page de profil d'un autre user -->
  <% else %>
    <div class="profile-stats">
      <div class="bandeau-rose">
        <%= t('users.show.on-zadl-since_html', date: time_ago_in_words(@user.created_at))%>
      </div>
      <div class="blocks">
        <div class="block-organizer container-list">
          <h3 class= "border-bottom"> <%= t('users.show.block-organizer-title')%> </h3>
          <div class = "info">
            <div class="icon"><i class="fi-megaphone"></i></div>
            <div> <%= t('users.show.organized-activity_html', number: @events_organized.size)%></div>
          </div>
          <div class = "info">
            <div class="icon"><i class="fi-clock"></i></div>
            <div> <%= t('users.show.last-organized-activity_html', date: time_ago_in_words(@events_organized.last.created_at))%></div>
          </div>
        </div>
        <div class="block-participant container-list">
          <h3 class= "border-bottom"> <%= t('users.show.block-participant-title')%> </h3>
          <div class = "info">
            <div class="icon"><i class="fi-ticket"></i></div>
            <div> <%= t('users.show.participated-activity_html', number: @events_organized.size)%> </div>
          </div>
          <div class = "info">
            <div class="icon"><i class="fi-clock"></i></div>
            <div> <%= t('users.show.last-participated-activity_html', date: time_ago_in_words(@events_organized.last.created_at))%> </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Hide / Show archives  -->

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $('.unhide_archives_button').on('click', function() {
        $(this).addClass("hidden");
        $('.hide_archives_button').removeClass("hidden");
        $('.archives_banners').removeClass("hidden");
      })
      $('.hide_archives_button').on('click', function() {
        $(this).addClass("hidden");
        $('.archives_banners').addClass("hidden");
        $('.unhide_archives_button').removeClass("hidden");
      })
    });
  </script>
<% end %>
