<div class="container">
  <div class="text-center">
    <h2> <%= @user.first_name %> <%= @user.last_name %> </h2>
    <div> <%= avatar(@user, class: "avatar-large") %> </div>
  </div>

  <!-- Cas où current user est sur sa propre page de profil -->
  <% if @user == current_user %>
    <div class="text-center">
      <%= link_to new_user_event_path(@user) do %>
        <button class = "btn btn-danger margin margin-sides"> <%= t('users.show.create')%></button>
      <% end %>
      <%= link_to t('users.show.edit'), edit_user_registration_path, class: "margin margin-sides" %>
    </div>
    <!-- Affichage des events non archivés -->
    <% unless @bookings_not_archived.empty? %>
      <% @bookings_not_archived.each do |booking| %>
        <%= render "event-banner", event: booking.event %>
      <% end %>
    <% end %>
    <!-- Affichage des events archivés -->
    <% unless @bookings_archived.empty? %>
      <div class="archives_button"><i class="fi-plus"></i> <%= t('users.show.unhide_archives')%></div>
      <div class="archives_button hidden"><i class="fi-minus"></i> <%= t('users.show.hide_archives')%></div>
      <% @bookings_archived.each do |booking| %>
        <%= render "event-banner", event: booking.event %>
      <% end %>
    <% end %>
  <!-- Cas où current user est sur la page de profil d'un autre user -->
  <% else %>
    <% @user.events.each do |event| %>
      <%= render "event-banner", event: event %>
    <% end %>
  <% end %>
</div>
