<p> <%= t('booking_mailer.user_unsubscription.hello', name: @event.user.first_name.capitalize) %> </p>

<p> <%= t('booking_mailer.user_unsubscription.body', event_name: @event.name, unsubscribe_participant_name: @user.first_name.capitalize) %> </p>
<p> <%= t('booking_mailer.user_unsubscription.message', message: @booking.cancellation_message) %> </p>
<p> <%= t('booking_mailer.user_unsubscription.end',unsubscribe_participant_name: @user.first_name.capitalize) %> </p>
<%= link_to event_url(id: @event.id) do %>
 <button style="background-color: #DA4167 ; border: 2px solid #DA4167 ; border-radius: 5px; color: white; font-size: 16px;">
   <%= t('booking_mailer.user_subscription.event_access')%>
 </button>
<% end %>
