<div class="form-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="form-container">
          <div class="form-part-title"> <%= t('payments.new.title') %></div>
          <div class="description-payment">
            <h5><%= t('payments.new.activity_html', activity: @booking.event.name) %></h5>
            <h5><%= t('payments.new.organized_by_html', organizer: @booking.event.user.first_name) %></h5>
            <h5>
              <%= t('payments.new.start_html', start: @booking.event.starts_at.strftime('%d/%m/%Y - %H:%M')) %>
            </h5>
          </div>
          <%= form_tag event_booking_payments_path(@event, @booking) do %>
            <article>
              <label class="amount">
                <span><%= t('payments.new.price', price: @booking.amount) %> € </span>
              </label>
            </article>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="Mon activité"
              data-email="<%= current_user.email %>"
              data-description="Activité <%= @booking.event.name %>"
              data-amount="<%= @booking.amount_cents %>"
              data-currency="<%= @booking.amount.currency %>">
            </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
