<h1> <%= t('event_mailer.event_edited_cancellation.hello', participant_name: @participant.first_name.capitalize) %> </h1>

<p> <%= t('event_mailer.event_edited_cancellation.body', event_name: @event.name, organizer_name: @event.user.first_name.capitalize) %> </p>
<p> <%= t('event_mailer.event_edited_cancellation.message') %> </p>
<p> <%= t('event_mailer.event_edited_cancellation.end') %> </p>
<%= link_to user_url(id: @participant.id) do %>
  <button class = "btn btn-danger margin margin-sides">
    <%= t('event_mailer.event_edited_cancellation.profile_access')%>
  </button>
<% end %>


